<!-- Created By : Inf-Wm Account -->

<div class="w3-container" *ngIf="hardware" ngClass.xs="w3-container-mob" style="background-color: aliceblue">
		<div class="w3-panel w3-round-small w3-teal">
			<h3>AMS</h3>
		</div>
		<div fxLayout="row" fxLayoutAlign="center center">
			<img height="100px" *ngIf="showTimer" width="100px" style="text-align: center;margin-top: 250px;
			position: fixed;
			z-index: 100;" src="assets/loader2.gif">
		  </div>
		<!-- <span *ngIf=" !showFlights"><i class="w3-medium fa fa-search"></i> Search : <input class="" type="text" [(ngModel)]='filterData'></span>
	
		<div class="w3-panel w3-green" *ngIf="(hardware | filter:filterData).length == 0">
			<p><span *ngIf="!filterData"> No requests pending action</span> </p>
			<p><span *ngIf="filterData"> No matching results</span> </p>
		</div> -->
		<h5>Software</h5>
		<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(software | filter:filterData | filter:filterData).length != 0 && !showFlights">
			<table class="w3-table w3-striped w3-bordered" fxShow fxHide.lt-md="true">
				<tr>
					<th><i class="w3-medium"></i>Software Name</th>				
					<th><i class="w3-medium"></i>Asset Id</th>
					<th><i class="w3-medium"></i>Machine Name</th>
					<th><i class="w3-medium"></i>Installed On</th>				
				</tr>
				<tr *ngFor="let hrd of software | filter:filterData; index as i;" appHighlightStudent>
					<td>{{hrd.SOFTWARE_NAME}}</td>
					<td>{{hrd.ASSET_ID}} </td>
					<td>{{hrd.MACHINE_NAME}}</td>
					<td>{{hrd.LAST_CHG_TS | date:'dd-MM-yyyy'}}</td>
				</tr>
			</table>
			<div fxFlex class="row1" fxHide fxShow.lt-md="true">
				<div fxFlex fxLayout="row" fxLayoutGap=1vw fxLayoutGap.xs=4vw>
		
				<div fxFlex=15>
					<div fxFlex fxLayout="column">
					<div fxFlex=70>
						<span style="font-weight: bold"> iTravel No.</span>
					</div>
					</div>
				</div>
		
		
				<div fxFlex=15>
					<div fxFlex fxLayout="column">
					<div fxFlex=70>
						
						<span style="font-weight: bold">Name</span>
					
					</div>
					<div fxFlex=30>
					
					</div>
					</div>
				</div>
		
				<div fxFlex=15 fxFlex.xs=25 ngStyle.xs="word-break: break-word">
					<div fxFlex>
					<span style="font-weight: bold">RequestType/Emp Id</span>
		
					</div>
				</div>		
			</div>
		</div>	
		<div fxFlex  style="margin-top:2vw" *ngFor = "let student of hardware | filter:filterData; index as i;" fxHide fxShow.lt-md="true">						
			<div fxFlex class="row1">
					<div fxFlex fxLayout="row" fxLayoutGap=1vw fxLayoutGap.xs=4vw>
			
					<div fxFlex=15>
						<div fxFlex fxLayout="column">
						<div fxFlex=70>
								<div fxFlex fxLayout="column">
							<span class=subtext>{{student.id}}</span>						
							</div>
						</div>
						</div>
					</div>
			
			
					<div fxFlex=15>
						<div fxFlex fxLayout="column">
						<div fxFlex=70>
							<span  class.lt-md="maintextxs" class.lg="maintext">{{student.first_name}}
							<span >{{student.last_name}}</span>
							</span>
						</div>		
						</div>
					</div>		
					<div fxFlex=25 ngStyle.xs="word-break: break-word">
						<div fxFlex fxLayout="column" fxLayoutGap="1vw">
							<div fxFlex=50>
								<span>{{student.reqType}}</span>
							</div>
							<div fxFlex=50>
								<span>{{student.phone}}</span>
							</div>
						</div>
					</div>
					<div fxFlex=15 >
						<button routerLink="/rescacc" *ngIf="student.reqType=='Accommodation'" class="w3-button-mob w3-deep-orange">Reschedule</button>
						<button routerLink="/resctaxi" *ngIf="student.reqType=='Local Taxi'" class="w3-button-mob w3-deep-orange">Reschedule</button>
						<button routerLink="/rescInt" *ngIf="student.reqType=='International'" class="w3-button-mob w3-deep-orange">Reschedule</button>
					</div>
					
				</div>
			</div>
		</div>
		</div>	

		<h5>Hardware</h5>
		<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(hardware | filter:filterData | filter:filterData).length != 0 && !showFlights">
			<table class="w3-table w3-striped w3-bordered" fxShow fxHide.lt-md="true">
				<tr>
					<th><i class="w3-medium"></i>Asset Id</th>				
					<th><i class="w3-medium"></i>Asset Sub Class</th>
					<th><i class="w3-medium"></i> Allocation Type</th>
					<th><i class="w3-medium"></i> Allocated Till</th>
					<th><i class="w3-medium"></i> Action</th>
					<th><i class="w3-medium"></i> Gatepass</th>					
				</tr>
				<tr *ngFor="let student of hardware | filter:filterData; index as i;" appHighlightStudent>
					<td>{{student.ASSET_ID}}</td>
					<td>{{student.ASSET_CLASS}} </td>
					<td>{{student.ALLOC_TYPE}}</td>
					<td>{{student.ALLOC_TILL | date:'dd-MM-yyyy'}}</td>
					<td><a href="">View</a></td>
					<td><a href="">UNC124356</a></td>
					<td></td>
				
				</tr>
			</table>
			<div fxFlex class="row1" fxHide fxShow.lt-md="true">
				<div fxFlex fxLayout="row" fxLayoutGap=1vw fxLayoutGap.xs=4vw>
		
				<div fxFlex=15>
					<div fxFlex fxLayout="column">
					<div fxFlex=70>
						<span style="font-weight: bold"> iTravel No.</span>
					</div>
					</div>
				</div>
		
		
				<div fxFlex=15>
					<div fxFlex fxLayout="column">
					<div fxFlex=70>
						
						<span style="font-weight: bold">Name</span>
					
					</div>
					<div fxFlex=30>
					
					</div>
					</div>
				</div>
		
				<div fxFlex=15 fxFlex.xs=25 ngStyle.xs="word-break: break-word">
					<div fxFlex>
					<span style="font-weight: bold">RequestType/Emp Id</span>
		
					</div>
				</div>		
			</div>
		</div>	
		<div fxFlex  style="margin-top:2vw" *ngFor = "let student of hardware | filter:filterData; index as i;" fxHide fxShow.lt-md="true">						
			<div fxFlex class="row1">
					<div fxFlex fxLayout="row" fxLayoutGap=1vw fxLayoutGap.xs=4vw>
			
					<div fxFlex=15>
						<div fxFlex fxLayout="column">
						<div fxFlex=70>
								<div fxFlex fxLayout="column">
							<span class=subtext>{{student.id}}</span>						
							</div>
						</div>
						</div>
					</div>
			
			
					<div fxFlex=15>
						<div fxFlex fxLayout="column">
						<div fxFlex=70>
							<span  class.lt-md="maintextxs" class.lg="maintext">{{student.first_name}}
							<span >{{student.last_name}}</span>
							</span>
						</div>		
						</div>
					</div>		
					<div fxFlex=25 ngStyle.xs="word-break: break-word">
						<div fxFlex fxLayout="column" fxLayoutGap="1vw">
							<div fxFlex=50>
								<span>{{student.reqType}}</span>
							</div>
							<div fxFlex=50>
								<span>{{student.phone}}</span>
							</div>
						</div>
					</div>
					<div fxFlex=15 >
						<button routerLink="/rescacc" *ngIf="student.reqType=='Accommodation'" class="w3-button-mob w3-deep-orange">Reschedule</button>
						<button routerLink="/resctaxi" *ngIf="student.reqType=='Local Taxi'" class="w3-button-mob w3-deep-orange">Reschedule</button>
						<button routerLink="/rescInt" *ngIf="student.reqType=='International'" class="w3-button-mob w3-deep-orange">Reschedule</button>
					</div>
					
				</div>
			</div>
		</div>
		</div>
	</div>
	
	<!-- Created By : Inf-Wm Account -->