<!-- Created By : Inf-Wm Account -->

<div class="w3-container">
	<div class="w3-panel w3-round-small w3-teal">
		<h3>Preference Details <button routerLink="/" class="w3-button w3-deep-orange custom-button margin-right"> <i class="w3-medium fa fa-chevron-left"></i> Back</button></h3>
	</div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <img height="100px" *ngIf="showTimer" width="100px" style="text-align: center;margin-top: 250px;
        position: fixed;
        z-index: 100;" src="assets/loader2.gif">
      </div>

	<mat-card>
		<mat-card-content>
	<form class="w3-container" [formGroup]="studentAddForm" (ngSubmit)="getData()">
			<div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap.gt-sm="100px" fxLayoutGap.lt-sm="10px">
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="40" fxFlex.lt-sm="90">
                        <div fxLayout="row">
                            <label class="w3-text-gray">
                                <b>Taxi Preference</b>
                            </label>
                        </div>

                        <div fxLayout="row">
                            <select class="w3-input w3-border" type="text" style="width:100%" formControlName="fromCity">
                                <option *ngFor="let item of fromCity" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="40" fxFlex.lt-sm="90">
                        <div fxLayout="row">
                            <label class="w3-text-gray">
                                <b>Cab Sharing</b>
                            </label>
                        </div>
                        <div fxLayout="row">
                            <select class="w3-input w3-border" type="text" style="width:100%" formControlName="cab">
                                <option *ngFor="let item of cab" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap.gt-sm="100px" fxLayoutGap.lt-sm="10px">
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="40" fxFlex.lt-sm="90">
                        <div fxLayout="row">
                            <label class="w3-text-gray">
                                <b>Onward Flight Timings Preference</b>
                            </label>
                        </div>

                        <div fxLayout="row">
                            <select class="w3-input w3-border" type="text" style="width:100%" formControlName="onward">
                                <option *ngFor="let item of onward" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="40" fxFlex.lt-sm="90">
                        <div fxLayout="row">
                            <label class="w3-text-gray">
                                <b>Return Flight Timings Preference</b>
                            </label>
                        </div>
                        <div fxLayout="row">
                            <select class="w3-input w3-border" type="text" style="width:100%" formControlName="return">
                                <option *ngFor="let item of onward" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap.gt-sm="100px" fxLayoutGap.lt-sm="10px">
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="40" fxFlex.lt-sm="90">
                        <div fxLayout="row">
                            <label class="w3-text-gray">
                                <b>Meal Preference</b>
                            </label>
                        </div>

                        <div fxLayout="row">
                            <select class="w3-input w3-border" type="text" style="width:100%" formControlName="meal">
                                <option *ngFor="let item of meal" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="40" fxFlex.lt-sm="90">
                        <div fxLayout="row">
                            <label class="w3-text-gray">
                                <b>Seat Preference</b>
                            </label>
                        </div>
                        <div fxLayout="row">
                            <select class="w3-input w3-border" type="text" style="width:100%" formControlName="seat">
                                <option *ngFor="let item of seat" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
            </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="end end">
                        <button type="submit" [disabled]="!studentAddForm.valid" class="w3-button w3-deep-orange">Submit</button>
                </div>
	</form>

	<br>
	<div *ngIf="a && !showTimer" style="width:450px;color:green;font-size:20px">
            Preferences Saved Successfully!
        </div>	
  </mat-card-content>
  </mat-card>
</div>

<!-- Created By : Inf-Wm Account -->